header {
    height: 100vh;
    padding-top: 4rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* --------- CTA styling ---------- */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 0.8rem;
    justify-content: center;
}

/* ------ section for the Header Socials ------ */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 2.5rem;
    bottom: 3rem;
    font-size: 2rem;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* --------- photo of myself ---------- */
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 50rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 3rem;
    border-radius: rem 12rem 0 0;
    overflow: hidden;
    padding: 1rem 5.2rem;
}

/* --------- scroll down --------- */
scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 200;
    font-size: 2rem;
}

/* --------- media query medium --------- */
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }

    .header__socials,
    .scroll__down {
        bottom: 21vh;
    }

    .header__socials,
    .scroll__down {
        font-size: 1.4rem;
    }
}

/* --------- media query small ---------- */
@media screen and (max-width: 600px) {
    .header__socials,
    .scroll__down {
        display: none;
    }
}

/* ------- media query extra-small -------- */
@media screen and (max-width: 400px) {
    .me {
        width: auto;
    }
}